{% extends 'base.html' %}

{% block content %}
<h1>My Groups</h1>

<hr size = "20">
<p style="font-size:25px; color:Blue;">Created Groups</p>

{% for allgroups in object_list %}

{% if allgroups.author == user %}
<div class="card">
<div class="card-header">
<span class = "font-weight-bold">{{ allgroups.title }}</span>
</div>
<div class="card=body">
<p>{{ allgroups.body }}</p>
{% endif %}
{% endfor %}


<hr size = "20">
<br><br>
<p style="font-size:25px; color:Green;">Involved Groups</p>
{% for allgroups in object_list %}
{% if allgroups.request == True %}
<div class="card">
<div class="card-header">
<span class = "font-weight-bold">{{ allgroups.title }}</span>
</div>
<div class="card=body">
<p>{{ allgroups.body }}</p>
{% endif %}
{% endfor %}


<hr>
<br><br>
<p style="font-size:25px; color:Red;">Pending Groups</p>

{% for allgroups in object_list %}
{% if allgroups.private == True and allgroups.request == True %}
<div class="card">
<div class="card-header">
<span class = "font-weight-bold">{{ allgroups.title }}</span>
</div>
<div class="card=body">
<p>{{ allgroups.body }}</p>
{% endif %}
{% endfor %}



{% endblock content %}