{% extends 'base.html' %}

{% block content %}
<h1>My Groups</h1>

<hr size = "20">
<p style="font-size:25px; color:Blue;">Created Groups</p>

{% for allgroups in object_list %}

{% if allgroups.author == user %}
<div class="card">
<div class="card-header">
<span class = "font-weight-bold">{{ allgroups.title }}</span> & middot;
</div>
<div class="card=body">
<p>{{ allgroups.body }}</p>

{% endif %}
{% endfor %}

<hr>
<p style="font-size:25px; color:Green;">Involved Groups</p>

<hr>
<p style="font-size:25px; color:Red;">Pending Groups</p>



{% endblock content %}