{% extends 'base.html' %}
{% block title %}All Groups{% endblock title %}
{% block content %}

{% for allgroups in object_list %}
<div class="card">
<div class="card-header">
<a href="{% url 'allgroups_group' allgroups.pk %}">{{ allgroups.title }}</a> &middot;
<span class="text-muted">by {{ allgroups.author }} | </span>
{{ allgroups.date }} | 
{% if allgroups.private == False %}
<span class="text-muted">Public</span>
{% elif allgroups.private == True %}
<span class="text-muted">Private</span>
{% endif %}

</div>
<div class="card=body">
<p>{{ allgroups.body }}</p>

<a href="{% url 'allgroups_edit' allgroups.pk %}">Edit</a> |
<a href="{% url 'allgroups_delete' allgroups.pk %}">Delete</a> |
<a href="{% url 'userlist_update' allgroups.pk %}">Join</a> |



</div>
<div class="card-footer">

{% for comment in allgroups.comments.all %}
<p>
<span class="font-weight-bold">{{ comment.author }} &middot;</span>
{{ comment }}
</p>
{% endfor %}
</div>
</div>
<br />
{% endfor %}
{% endblock content %}