
{% extends 'base.html' %}
{% block title %}All Groups{% endblock title %}
{% block content %}
{% for allgroups in object_list %}
<div class="card">
<div class="card-header">
<span class="font-weight-bold">{{ allgroups.title }}</span> &middot;
<span class="text-muted">by {{ allgroups.author }} |
{{ allgroups.date }}</span>
</div>
<div class="card=body">
<p>{{ allgroups.body }}</p>

<a href="{% url 'allgroups_edit' allgroups.pk %}">Edit</a> |
<a href="{% url 'allgroups_delete' allgroups.pk %}">Delete</a> |
<a href="{% url 'allgroups_request' allgroups.pk %}">Join</a>
</div>
<div class="card-footer">
{% for comment in allgroups.comments.all %}
<p>
<span class="font-weight-bold">{{ comment.author }} &middot;</span>
{{ comment }}
</p>
{% endfor %}
</div>
</div>
<br />
{% endfor %}
{% endblock content %}