{% extends 'base.html' %}

{% block content %}
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align:left;}
div {text-align: left;}
</style>
</head>
<body>
<h1>My groups</h1>
<p>Created groups</p>
<div>Here will be the users created groups</div>
<p>Involved groups</p>
<div>Here will be the users involved groups(groups that the user doesn't own)</div>
<p>Pending groups</p>
<div>Here will be the users requested groups(pending)</div>
<p style="color:blue">Create Group +</p>
<div style="color:red">Above will be a button to create a group, already have add button, might change"</div>

</body>
</html>

{% endblock content %}